.text-block {
    background-color: #A6C4FF;
    padding: 0.75em .75em .75em .75em;
    border-radius: 10px;
}

.contact {
    overflow-wrap: break-word;
}

h3 {
    text-align: left;
    margin-top: 1em;
    padding: 5px;
}

#bootstrap-overrides .row {
    margin-left: 0em;
    margin-right: 0em;
}

#note-name {
    border-right: 1px dimgrey solid;
    margin-right: 10px;
}
.admin-graph-div {
    padding: 1em;
    justify-content: center;
}
.apexcharts-legend {
    padding: 30px;
    position: relative;
}
.apexcharts-yaxis {
    margin-left: 20px !important;
    padding: 5px !important;
}
.apexcharts-xaxis {
    margin-bottom: 20px !important;
    padding: 5px !important;
}
/* .admin-pg-graph {
    padding: 1em;
    margin-left: 1em;
} */
