body {
    height: 100vh !important;
}
.forum-body {
    display: grid;
    grid-template-columns: 20vw 80vw;
    grid-template-areas: "list active";
}
.sidebar {
    padding: 10px;
    grid-area: list;
    height: 85vh;
    overflow: scroll;
}
.post-preview {
    background: #DEF2FF;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    overflow: hidden;
    border: 3px solid #A6C4FF;
}
h4 {
    margin: 10px;
}
.post-preview:hover {
    background: #A6C4FF;
}
.active-container {
    background: #A6C4FF;
    grid-area: active;
    padding: 10px;
    height: 85vh;
    overflow: scroll;
}
.active-container h4 {
    padding: 20px;
}
.active-post {
    background: #DEF2FF;
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
}
.active-post h3 {
    padding: 15px;
}
.active-post p {
    padding-left: 25px;
    padding-right: 25px;
}
.comment-block {
    background: #DEF2FF;
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
    margin-left: 5%;
    width: 95%;
}
.author-info {
    text-align: right;
}
.reply-container {
    padding: 20px;
    margin: -10px;
    margin-top: 20px;
    background: rgb(28, 83, 201);
}
#new-post .form-row {
    margin: 10px;
}
#new-note .form-row {
    margin: 10px;
}