.group-body {
    display: grid;
    grid-template-columns: 50vw 50vw;
    grid-template-areas:
    "goals chat";
}
.shared-goals {
    padding: 10px;
}
.shared-goals h2 {
    text-align: center;
}
.group-data {
    grid-area: goals;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    grid-row-gap: 15px;
}
.group-chat {
    grid-area: chat;
    padding: 10px;
}
.group-chat h2 {
    text-align: center;
}
.group-data-item {
    width: 90%;
    height: 100%;
    justify-self: center;
    background-color: #A6C4FF;
    padding: 0.75em 2em 2em 2em;
    border-radius: 10px;
}

.group-data-item p {
    font-size: 1.25em;
}
.group-data-item ol {
    font-size: 1.25em;
    margin-left: -1em;
}
.group-messages {
    padding-bottom: 1em;
    height: 60vh;
    max-height: 60vh;
    overflow-y: scroll;
    /* position: absolute; */
    /* bottom: 0; */
}
.group-message {
    word-wrap: break-word;
    background-color: #D8EBF4;
    /* border: solid 1px black; */
    padding: 0.5em;
    margin-top: 0.5em;
    border-radius: 10px;
}
.form-control-select {
    width: 40% !important;
}
.blockquote-footer {
    text-align: right;
}
.message-date {
    font-size: 1.25em;
}