h1 {
  margin-left: 2em;
}
h2 {
    font-size: 2.15em;
    margin-top: 0em;
}
.history-grid-container {
  display: flex;
  justify-content: center;
}
.history-date {
  padding: 1em 2em;
  background-color: #D8EBF4;
  margin: 1em;
  border-radius: 10px;
  font-size: 1.25em;
}
.history-goal-list {
  background-color: #A6C4FF;
  width: 15vw;
  padding: 0.75em 2em 2em 2em;
  border-radius: 10px;
}
.history-grid-goals {
  display: flex;
  justify-content: space-evenly;
}
.history-goals-aside {
  text-align: center;
  font-size: 2em;
  width: 15vw;
  /* background-color: #A6C4FF; */
  padding: .75em 0.75em 1.25em 0.75em;
  border-radius: 10px;
}
.history-no-goals {
  margin-top: 1em;
}
.history-timers {
  width: 15vw;
  background-color: #A6C4FF;
  border-radius: 10px;
  padding: 0.75em 2em 2em 2em;
}
.history-reflections {
  background-color: #A6C4FF;
  width: 15vw;
  padding: 0.75em 2em 2em 2em;
  border-radius: 10px;
}
.history-timers-list {
    margin-top: -1em;
    font-size: 1.25em;
    margin-left: -1em;
}
.no-timers {
  margin-top: -1em;
  font-size: 1.25em;
}
.history-goals {
    font-size: 1.25em;
    margin-top: -1em;
    list-style-type: none;
}

.history-reflections p {
  font-size: 1.25em;
  margin-top: -1em;
}

/* Font Awesome */
.fa-check-circle {
  font-size: 3em;
  color: #7BFF4D;
  background-color: white;
  border-radius: 100%;
}
.fa-minus-circle {
  font-size: 3em;
  color: #404CB8;
  background-color: white;
  border-radius: 100%;
}
.fa-caret-right, .fa-caret-left {
  font-size: 4em;
  align-self: center;
  color: #404CB8;
}