/* h2 {
    font-size: 2.15em;
    margin-top: 0em;
} */
.history-day-names {
  display: flex;
  justify-content: space-around;
}
.history-day-names p {
  width: 7em;
  margin: 1em;
  text-align: center;
}
.btn-toolbar {
  justify-content: center !important;
}
.history-date {
  padding: .5em 0 .5em 0;
  width: 7em;
  background-color: #DEF2FF !important;
  color: black !important;
  margin: 1em;
  transition: background .4s;
  border: 3px solid #A6C4FF !important;
}
.history-date:hover {
  background: #BAD5E1 !important;
  transition: background .4s;
}
.history-goal-list {
  background-color: #A6C4FF;
  width: 19vw;
  padding: 0.75em 2em 2em 2em;
  border-radius: 10px;
  max-height: 55vh;
  overflow: scroll;
}
.history-grid-goals {
  display: flex;
  justify-content: space-evenly;
}
.history-goals-aside {
  text-align: center;
  font-size: 2em;
  width: 13vw;
  /* background-color: #A6C4FF; */
  /* padding: .75em 0.75em 1.25em 0.75em; */
  border-radius: 10px;
}
.history-no-goals {
  margin-top: 1em;
}
.history-timers {
  width: 19vw;
  background-color: #A6C4FF;
  border-radius: 10px;
  padding: 0.75em 2em 2em 2em;
}
.history-reflections {
  background-color: #A6C4FF;
  width: 19vw;
  padding: 0.75em 2em 2em 2em;
  border-radius: 10px;
  max-height: 55vh;
  overflow: scroll;
}
.history-timers-list {
    margin-top: -1em;
    font-size: 1.1em;
    margin-left: -1em;
}
.no-timers {
  margin-top: -1em;
  font-size: 1.25em;
}
.history-goals {
    font-size: 1em;
    margin-top: -1em;
    list-style-type: none;
}

.history-reflections p {
  font-size: 1em;
  margin-top: -1em;
}

/* Font Awesome */
.fa-check-circle {
  font-size: 3em;
  color: #7BFF4D;
  background-color: white;
  border-radius: 100%;
}
.fa-minus-circle {
  font-size: 3em;
  color: #404CB8;
  background-color: white;
  border-radius: 100%;
}
.fa-caret-right, .fa-caret-left {
  font-size: 4em;
  align-self: center;
  color: #404CB8;
  transition: color .4s;
}
.fa-caret-left:hover {
  color: #7681F0;
  transition: color .4s;
}
.fa-caret-right:hover {
  color: #7681F0;
  transition: color .4s;
}
.history-graph {
  display: flex;
  justify-content: center;
}
.history-date-picker {
  margin: .5em;
  margin-left: 1em;
}
.timers {
  background-color: #A6C4FF;
  border-radius: 10px;
  margin-bottom: 5px;
  margin-left: 25px;
  text-align: center;
}
.timers p {
  font-size: 100px;
}
.timers button {
  margin-top: 15px;
  margin-bottom: 15px;
}
.timers-table {
  /* background-color: #A6C4FF;
  border-radius: 10px; */
  width: 100%;
  padding: 0.75em .75em .75em .75em;
  text-align: left;
}
.timers-table .col {
  padding-top: 10px;
}
.timers-table input {
  margin-top: 5px;
  margin-bottom: 5px;
}
.timers-table button {
  /* padding: 7px; */
  font-size: small;
}
.add-time {
  width: 17vw;
}
/* .timer-table-body {
  height: 50px !important;
  overflow: scroll;
} */

.timer-pls-work {
  max-height: 59vh !important;
  overflow: scroll;
  background-color: #A6C4FF;
  border-radius: 10px;
  padding-left: 3px;
}